html, body, ul, ol{
    padding: 0;
    margin: 0;
}

*{
    font-family: 'Oswald';
}

a{
    text-decoration: none;
    color: $link-color;
}

.social{
    display:flex;
    .social-item{
        
        flex-direction: row;
        align-items: center;
        margin-right: 5px;
    }

}

.icon{
    @extend .fa;
    font-size: 20px;
    color: $secondary-font-color;
}

.likes-icon{
    @extend .fa-thumbs-o-up;
}

.comments-icon{
    @extend .fa-comments-o;
}

.login-icon{
    @extend .fa-user-o;
}

.search-icon{
    @extend .fa-search;
}

.caption{
    font-size: 13px;
    padding: 0 5px;
}

.small-devices{
    @media screen and (max-width: 480px){
        display: inherit;
    }
    @media screen and (min-width: 480px){
        display: none;
    }
}

.medium-devices{
    @media screen and (max-width: 800px){
        display: inherit;
    }
    @media screen and (min-width: 800px){
        display: none;
    }
}

.liked *{
    color: blue;
}

