.detail-view{
    margin-bottom: $default-margin-bottom;

    .detail-header{
        .detail-title, .detail-subtitle{
            margin: 10px 0;
        }

        .detail-title{
            line-height: 36px;
            font-size: $title-font-size;
            .detail-title-link{
                color: $font-color;
                text-decoration: none;
            }
        }

        .detail-subtitle{
            color: $secondary-font-color;
            text-transform: uppercase;
            font-size: $subtitle-font-size;
        }
    }

    .detail-video, .detail-image{
        width: 100%;
    }

    .detail-header-content, .detail-content{
        margin: 0 20px;
    }

    .detail-content{
        p, b, a{
            font-family: 'Rambla', sans;
        }
    }

    .detail-social{
        margin: 16px 0;
    }

    @media screen and (min-width: $medium-screen){
        width: 80%;
        max-width: $large-screen;
        margin: auto; 
        margin-bottom: $default-margin-bottom;
    }

    @media screen and (min-width: $large-screen){
        width: 100%;
    }

}
