body{
    margin-top: $main-menu-item-height;

}

.main-header{
    background-color: $main_background_color;
    text-align: left;
    position: relative;

    .main-header-title{
        line-height: 40px;
        text-align: center;
        margin: 0;
        border-bottom-style: solid;
        margin-top: - $main-menu-item-height;
        position: fixed;
        width:100%;
        background-color: $main-background-color;
        z-index: 99;
        @media screen and (min-width: 800px){
            display: inline-block;
            width: initial;
            position: initial;
        }
    }

    .main-header-search{
        background-color: $input_background_color;
        border-width: 0;
        background-size: 100%;
        width: 100%;
        padding: 0 20px;
        font-size: 15px;
        height: $main-menu-item-height;
        z-index: 99;
        position: fixed;
        top: $main-menu-item-height;
        display: none;

        @media screen and (min-width: 800px){
            display: inline-block;
            position: initial;
            width: initial;
        }
    }
    .main-menu{
        text-align: center;
        overflow-y: hidden;
        .main-menu-list{
            list-style-type: none;
            display: inline-flex;
            flex-flow: row nowrap;
            
            .main-menu-item{
                margin: 0 15px;
                .main-menu-item-link{

                    display: block;
                    line-height: $main-menu-item-height;
                }
            }   
        }
        @media screen and (min-width: 800px){
            position: initial;
            width: initial;
            display: inline-block;
        
        }


    }
    @media screen and (min-width: 800px){
        position: fixed;
        margin-top: - $main-menu-item-height;
    }
}