body{
    margin-top: $main-menu-item-height;

}

.main-header{
    background-color: $main_background_color;
    z-index: 1;

    .main-header-container{
        text-align: left;
        position: relative;

        .main-header-title{
            line-height: $main-menu-item-height;
            text-align: center;
            margin: 0;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            margin-top: - $main-menu-item-height;
            position: fixed;
            width:100%;
            background-color: $main-background-color;
            z-index: 99;
            
            @media screen and (min-width: 800px){
                border-bottom: none;
            }
        }

        .main-header-search{
            background-color: $input_background_color;
            border-width: 0;
            background-size: 100%;
            width: 100%;
            padding: 0 20px;
            font-size: 15px;
            height: $main-menu-item-height;
            z-index: 99;
            position: fixed;
            top: $main-menu-item-height + 3px;
            display: none;
        }

        .main-header-login{
            position: fixed;
            line-height: $main-menu-item-height;
            top: $main-menu-item-height + 3px;
            display: none;
            background-color: $input_background_color;
            z-index: 99;
            
            width: 100%;
            text-align: center;
        }

        .search-icon, .login-icon{
            position: fixed;
            top: 0;
            z-index: 99;
            line-height: $main-menu-item-height;
            width: $main-menu-item-height;
            text-align: center;
        }

        .login-icon{
            right: 0;
        }

        .main-menu{
            text-align: center;
            overflow-y: hidden;
            .main-menu-list{
                list-style-type: none;
                display: inline-flex;
                flex-flow: row nowrap;
                
                .main-menu-item{
                    margin: 0 15px;
                    .main-menu-item-link{

                        display: block;
                        line-height: $main-menu-item-height;
                    }
                }   
            }
        }


    }
        @media screen and (min-width: 800px){
            width: 100%;
            position: fixed;
            margin-top: - $main-menu-item-height;
            border-bottom-style: solid;
            border-bottom-width: 3px;     

            .main-header-container{
                margin: auto;
                width: 96%;
                padding: 0 2%;
                
   
                display: flex;
                justify-content: space-between;

                .login-icon, .search-icon{
                    display: inline-block;
                    position: static;
                }

                .main-menu, .main-header-title {
                    display: inline-block;
                    position: static;
                    width: auto;
                    margin: 0;
                }
            }
        }

        @media screen and (min-width: 1100px){
            
            .main-header-container{
                
                max-width: 1200px;

                .main-header-login, .main-header-search{
                    display: inline-block;
                    position: static;
                    width: auto;
                    margin: 0;
                }

                .login-icon, .search-icon{
                    display: none;
                }

                width: 90%;
                padding: 0 5%;
            }
        }    
}